body{
    font-family: "Roboto", sans-serif;
}
.quizz-navbar {
    height: 60px;
    border-bottom: 1px solid rgb(112, 110, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logout-btn{
    background-color: transparent;
    border: none;
  }
 
  
  .quizz-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .quizz-detail img {
    height: 50px;
    width: 70px;
    border-radius: 50%;
  }
  


h2{
    text-align: center;
}
p{
    text-align: center;
    color: #8E8E93;
}

.login-logout {
    height: 100px;
    width: 90px;
    background-color: #F3BD00;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 83%;
    /* margin-left: 83%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  
  }
  .login-logout p{
    color: black;
  }

  
  .login-logout  a{
    text-decoration: none;
    padding-left: 25px;
    color: black;
   
    
  }
  
  .login-logout p {
    text-align: center;
  }

.rank-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}


.rank-list .rank1{
    background-color: #F3BD00;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    height: 273px;
    width: 210px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    top: 52px;
   }
   
   .rank-list .rank2{
    background-color: #F4CE4A;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    margin-top: 60px;
    height: 235px;
    width: 210px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    top: 41px;
   }
   
   .rank-list .rank3{
    background-color: #F7E296;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    margin-top: 50px;
    height: 219px;
    width: 210px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    top: 55px;
    
      }




.rank1-render{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    /* position: relative;
    top:-100px; */
    position: absolute;
    top: -125px; 
}
.rank1-data{
    position: absolute;
    top: 56px;
    width: 100%;
    margin: auto;
}

.rank1-data p{
    position: absolute;
    top: 6.5rem;
    font-size: 1.5rem;
    margin: auto;
    width: 90%
}
.rank1-img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid #F3BD00;
    margin-left: 37px;
    display: none;
    

}
.rank1-ranking{
    font-size: 4rem;
    margin-left: 5px;
    color: #F3BD00;
    margin-bottom: -10px;
}
.rank1-dislpay{
    padding-top: 20px;
}
.rank1-name{
    font-size: 2rem;
}

.rank2-render{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    position: absolute;
    top: -122px; 
}

.rank2-data{
    position: absolute;
    top: 64px;
    width: 100%;
    margin: auto;
}

.rank2-img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid #F4CE4A;
    margin-left: 37px;
}


.rank2-name{
    font-size: 2rem;
}

.rank2-data p{

    position: absolute;
    top: 5.5rem;
    font-size: 1.5rem;
    margin: auto;
    width: 100%;
}


.rank3-render{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    position: absolute;
    top: -112px; 
}

.rank3-data{
    position: absolute;
    top: 55px;
    width: 100%;
    margin: auto;
}

.rank3-img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 5px solid #F7E296;
    margin-left: 37px; 

}

.rank3-name{
    font-size: 2rem;
}

.rank3-data p{

    position: absolute;
    top: 5.5rem;
    font-size: 1.5rem;
    margin: auto;
    width: 100%;
}

.random-rank{
    width: 100%;
    height: 50px;
    background-color: aqua;
    margin-top: 100px;
 background: #FFFFFF;
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    display: flex;
    align-items: center;
    gap: 50px;
}

 .rank4-display{
    margin-left: 70%;
 }
 .rank5-display{
    margin-left: 70%;
 }
 .rank6-display{
    margin-left: 70%;
 }

.random-rank p{
     text-align: right;
     color: black;
}


.random-rank h2{
    text-align: left;
    padding-left: 30px;
    padding-bottom: 5px;
}




