
body{

    font-family: "Roboto", sans-serif;
}
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.required{
    color: red;
}

.quizz-img {
    width: 326.6px;
    height: 330.98px;
    margin-bottom: 120px;

}

.login-form {

    height: 512px;
    width: 440px;
    margin-left: 140px;
    margin-top: 100px;
    


}

.login-form h1 {
    font-family: "Roboto", sans-serif;
}

.login-form p {
    color: gray;
}
.sigunp-user-error{
    color: red;
}

.email-alert{
    color: red;
}

.password-alert{
    color: red;
}

.login-form div {
    margin-top: 25px;
}


#user-inpt{
    width: 400px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #344054;
    padding-left: 18px;
}

#email-inpt{
    width: 400px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #344054;
    padding-left: 20px;
}

#pass-inpt{
    width: 300px;
    border: none;
    outline: none;
    margin-left: -18px;
}

.password-input{
    width: 417px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    border: 1px solid #344054;
    display: flex
;
    justify-content: space-evenly;
    align-items: center;
}

.password-display .hide-password{
   position: relative;
   top: -13px;
}
.password-display .show-password
{
    display: none;
    position: relative;
    top: -13px;
}
.login-google-icon{
    background-color: rgb(243, 245, 247);
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    width: 418px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-google-icon div img{
    margin-bottom: 17px;
}


/* .google-icon {
    color: #1C1C1E;
    margin-bottom: 10px;
} */

.login-btn {
    width: 418px;
    height: 43px;
    padding: 12px 24px 12px 24px;
    font-size: 1.2rem;
    gap: 4px;
    border-radius: 10px;
    opacity: 0px;
     margin-top: 10px;
    background-color: #F3BD00;
    border: none;


}

.signup-btn {
    width: Fill (440px)px;
    height: Hug (60px)px;
    padding: 16px 20px 16px 20px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;


}

.google-icon {
    background-color: rgb(243, 245, 247);
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.google-icon div {
    margin-top: 3px;
}

.google-icon div i {
    margin-top: -130px;

}

.google-icon p {
    padding-left: 20px;
    color: black;

}

.sign-up {
    font-weight: 400;
    color: #344054;
    font-family: inter;
    line-height: 19.2px;
    margin-left: 120px;
}

.sign-up span {
    font-weight: 700;
    color: #0948B4;
    line-height: 19.2px;
}

.sign-up span a{
    text-decoration: none;
    color: #0948B4;
}

/* signup */

.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quizz-img {
    width: 326.6px;
    height: 330.98px;
    margin-top: 240px;

}

.signup-form {
    height: auto;
    width: 440px;
    margin-left: 140px;
    margin-top: 100px;
}

.signup-form h1 {
    font-family: "Roboto", sans-serif;
}

.signup-form p {
    color: gray;
    margin-top: -11px;
}
.sigunp-email-error{
    color: red;
}
.sigunp-password-error{
    color: red;
}


.signup-form div {
    margin-top:31px;
}

#signIn-inpt{
    width: 400px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    border: 1px solid #344054;
    position: relative;
    top: 15px;
    padding-left: 18px;
}


.sigunp-password-input{
    width: 425px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    border: 1px solid #344054;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    position: relative;
    top: -17px;
}
.sigunp-password-input input{
    width: 300px;
    border: none;
    outline: none;
    margin-left: -20px;
}
.sigunp-password-error{
    position: relative;
    top: -23px;
}

.signup-btn {
    width: 422px;
    height: 43px;
    padding: 12px 24px 12px 24px;
    font-size: 1.2rem;
    gap: 4px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #F3BD00;
    border: none;
    position: relative;
    top: -32px;


}



.google-icon {
    background-color: rgb(243, 245, 247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 422px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -29px;

}

.google-icon div {
    margin-top: 3px;
}

.google-icon div i {
    margin-top: -130px;

}

.google-icon p {
    padding-left: 20px;
    padding-top: 22px;
    color: black;

}
.check-terms{
    bottom: 57px;
    position: relative;
}

.check-terms input{
   margin-top: 30px;
   margin-left: 100px;
}

.check-terms span {
    font-weight: 500;
    color: #0948B4;
}