body {
  font-family: "Roboto", sans-serif;
}

.quizz-navbar {
  height: 60px;
  border-bottom: 1px solid rgb(112, 110, 110);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.techpatshala-img{
  margin-left: 42px;
  height: 30px;
}
.current-user{
  font-size: 1.5rem;
  color: #F3BD00;
}

.logout-btn{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.nav-personal-img{
  margin-right: 47px;
  object-fit: cover;
}
.quizz-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quizz-detail img {
  height: 50px;
  width: 70px;
  border-radius: 50%;
}

.login-logout {
  height: 121px;
  width: 128px;
  background-color: #F3BD00;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  left: 83%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

}

.login-logout p{
  color: black;
}

.login-logout  a{
  text-decoration: none;
  padding-left: 33%;
 
  
}

.login-logout p {
  text-align: center;
}

.progress {
  width: 95%;
  height: 20px;
  background-color: #EBEBF0;
  border-radius: 10px;
}


.progress .progress-container {
  border-radius: 10px;
  background-color: #F3BD00;
  height: 20px;
  width: 0%;

}

.quizz-container h1 {
  font-size: 3.5rem;
}

.quizz-container h2 {
  font-size: 2.5rem;
}

.option {
  font-size: 24px;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;

  margin-right: 10px;
}

input[type="radio"]:checked+label {
  background-color: #F3BD00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: #4CAF50;
  border-radius: 20px;
}

label:hover {
  background-color: #e0e0e0;
  border-radius: 20px;
}




#quizz-option1 {
  font-size: 1.3rem;
}

#quizz-option2 {
  font-size: 1.3rem;
}

#quizz-option3 {
  font-size: 1.3rem;
}

#quizz-option4 {
  font-size: 1.3rem;
}

.previous-btn {
  margin-top: 40px;
  color: #8E8E93;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 170px;
  font-size: 1.5rem;
}

.next-btn {
  background-color: transparent;
  border: none;
  font-size: 1.9rem;
  color: #0948B4;
  margin-left: 80%;
  margin-top: -47px;

}

.next-btn:hover {
  background-color: #e0e0e0;
  border-radius: 10px;
}





.previous-btn {
  display: none;
}