

body{

    font-family: "Roboto", sans-serif;
}


.admin-navbar{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-navbar div{
    display: flex;
}
.techpatshala-img{
    margin-left: 30px;
}
.admin-bar{
    margin-left :40px;
}

.admin-main{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.admin-section{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.admin-section p{
    padding-right: 30px;
}


.admin-section i{
    margin: auto;
   
}
.menu-section p{
 padding-top: 10px;
   
}

.menu-section{
    width: 150px;
    height: 100vh;
  
    
    box-shadow: 0px 8px 16px 0px #1C1C1E1A;
   
}

.home{
    cursor: pointer;
}
.quizz-menu{
    cursor: pointer;
}

.home span{
    margin-left: 10px;
}

.rotate{
    transition-delay: 0.2s;
transition-duration: 1s ;
color: red;
transform: rotate(360deg);


}
  .home.clicked i, .home.clicked span {
    color: orange; /* Change this to your desired clicked color */
  }

.user-menu {
    margin-top: 10px;
    
}

.user-menu span{
    margin-left:10px;
}

.quizz-menu{
    margin-top: 10px;
}

.quizz-menu.clicked i, .quizz-menu.clicked span{
    color: orange;
}

.quizz-menu span{
    margin-left: 10px;
}

.user-data{
    width: 100%;

}

.admin-start{
font-size: 3rem;
 text-align: center;
padding-top: 170px;
}

 table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders collapse into a single line */
  }
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black; /* Adds horizontal line between rows */
  }
  th {
    background-color: #daf0f3; 
  }
  .veiw-result-btn{
    background: transparent;
    color:  blue;
    border: none;
  }


  .quizz-section{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: none;
}

.quizz-section h1{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.add-question{
    background-color: green;
    border: none;
    height: 25px;
    border-radius: 5px;
    color: white;
    margin-left: 84%;
}

.quizz-conatiner{
    margin-top: 20px;
    width: 100%;
}



.quizz-conatiner table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .quizz-conatiner table th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .quizz-conatiner table th {
    background-color: #c0e5e7;
  }
  
  .quizz-conatiner table tr:hover {
    background-color: #ddd;
  }

  .row-data{
    cursor: pointer;
  }


  .show-quizz{
   height: 20px;
   border: none;
    background-color: rgb(156, 214, 156);
    border-radius: 5px;
  }
  .edit-quizz{
    margin-left: 10px;
  }
  .delete-quizz{
    margin-left: 10px;
  }


  
  




